Repository Azure-Samples/app-templates-java-openai-springapps, changes with the labels that .github/labeler.yml gives for each.
All labels: automation: azd, automation: CI/CD, automation: infra, documentation, src: ai-shopping-cart-service, src: frontend, tools: dev-container

.github/labeler.yml:

# Add 'automation: azd' for changes in Azure Developer CLI YAML file
'automation: azd':
  - 'azure.yaml'

# Add 'automation: CI/CD' for changes in GitHub actions (or other) and in Azure DevOps pipeline(s)
'automation: CI/CD':
  - '.github/*'
  - '.github/**/*'
  - '.azdo/*'
  - '.azdo/**/*'

# Add 'automation: infra' for changes in infrastructure code (IaC)
'automation: infra':
  - 'infra/*'
  - 'infra/**/*'

# Add 'documentation' label to any change in md files or in any assets in the /assets folder
documentation:
  - '*.md'
  - '**/*.md'
  - 'assets/*'
  - 'assets/**/*'

# Add 'src: ai-shopping-cart-service' for any change in /src/ai-shopping-cart-service
'src: ai-shopping-cart-service':
  - 'src/ai-shopping-cart-service/*'
  - 'src/ai-shopping-cart-service/**/*'

# Add 'src: frontend' for any change in /src/frontend
'src: frontend':
  - 'src/frontend/*'
  - 'src/frontend/**/*'

# Add 'tools: dev-container' for any change in /.devcontainer
'tools: dev-container':
  - '.devcontainer/*'
  - '.devcontainer/**/*'

Add first version of AI Shopping Cart Service
  .gitignore
  src/ai-shopping-cart-service/.gitignore
  src/ai-shopping-cart-service/client.http
  src/ai-shopping-cart-service/pom.xml
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/AiShoppingCartServiceApplication.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/AiShoppingCartServiceConfiguration.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/cartitem/CartItem.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/cartitem/CartItemController.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/cartitem/CartItemRepository.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/cartitem/exception/CartItemNotFoundException.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/cartitem/exception/EmptyCartException.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/cartitem/exception/RestResponseEntityExceptionHandler.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/openai/ShoppingCartAiRecommendations.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/openai/SystemMessageConstants.java
  src/ai-shopping-cart-service/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/ai-shopping-cart-service/src/main/resources/application.properties
Labels: src: ai-shopping-cart-service

Reindent entrypoint.js
  src/frontend/entrypoint.js
Labels: src: frontend

Add dev container configuration file
  .devcontainer/devcontainer.json
Labels: tools: dev-container

Add Maven wrapper for AI Shopping Cart Service
  .github/PULL_REQUEST_TEMPLATE.md
  src/ai-shopping-cart-service/.mvn/wrapper/maven-wrapper.properties
  src/ai-shopping-cart-service/mvnw
  src/ai-shopping-cart-service/mvnw.cmd
Labels: automation: CI/CD, documentation, src: ai-shopping-cart-service

Add the documentation of the AI Shopping Cart Service
  src/ai-shopping-cart-service/README.md
Labels: documentation, src: ai-shopping-cart-service

Remove todo that is not required anymore
  src/frontend/src/components/ShoppingCart.tsx
Labels: src: frontend

Add first version of IaC
  infra/README.md
  infra/abbreviations.json
  infra/app/ai-shopping-cart-service.bicep
  infra/app/frontend.bicep
  infra/core/database/postgresql/flexible-server.bicep
  infra/core/host/container-app-upsert.bicep
  infra/core/host/container-app.bicep
  infra/core/host/container-apps-environment.bicep
  infra/core/host/container-registry.bicep
  infra/core/host/spring-apps-consumption.bicep
  infra/core/monitor/application-insights-dashboard.bicep
  infra/core/monitor/application-insights.bicep
  infra/core/monitor/log-analytics-workspace.bicep
  infra/core/monitor/monitoring.bicep
  infra/core/security/registry-access.bicep
  infra/main.bicep
  infra/main.parameters.json
Labels: automation: infra, documentation

Fix the name of the environment variable used to set Azure OpenAI API key
  infra/main.parameters.json
Labels: automation: infra

Add Azure Developer CLI YAML file that describes the sample app services and where to deploy them.
  azure.yaml
Labels: automation: azd
