Repository Azure-Samples/app-templates-java-openai-springapps, pull requests merged in 2023-08, with the labels that each got.

#21 Update README.md to fix typo in enabling alpha for spring apps
  README.md
Labels: documentation

#19 Add telemetry
  README.md
  infra/main.bicep
  infra/main.parameters.json
Labels: documentation, automation: infra

#18 Improve the documentation of Azure OpenAI
  README.md
Labels: documentation

#25 Add support for GPT-3.5 Turbo
  README.md
  infra/app/ai-shopping-cart-service.bicep
  infra/main.bicep
  infra/main.parameters.json
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/AiShoppingCartServiceConfiguration.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/openai/ShoppingCartAiRecommendations.java
  src/ai-shopping-cart-service/src/main/java/com/microsoft/azure/samples/aishoppingcartservice/openai/UserMessageConstants.java
  src/ai-shopping-cart-service/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/ai-shopping-cart-service/src/main/resources/application.properties
Labels: documentation, src: ai-shopping-cart-service, automation: infra

#26 Feature/8 add azure devops pipeline to deploy the sample app with azure developer cli
  .azdo/pipelines/azure-dev.yml
  .github/workflows/azure-dev.yml
  README.md
Labels: documentation, automation: CI/CD

#27 Update README.md
  README.md
Labels: documentation

#28 Fix Changelog link for v1.0.0 commit list
  CHANGELOG.md
Labels: documentation

#31 Fix the name of the spring apps instance to be globally unique.
  infra/main.bicep
Labels: automation: infra

#33 Update CHANGELOG.md for release of v1.0.1
  CHANGELOG.md
Labels: documentation

#35 Update the application to display the error message in the frontend
  src/ai-shopping-cart-service/src/main/resources/application.properties
  src/frontend/src/components/AiNutritionAnalysis.tsx
  src/frontend/src/components/Top3Recipes.tsx
Labels: src: ai-shopping-cart-service, src: frontend
